@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  .embed {
    height: 400px;
  }
}
@media (max-width: 575px) {
  .container {
    width: auto;
    padding: 0 10px;
  }
  h1 {
    font-size: 35px;
  }
  .mobile {
    width: 100%;
  }
  .embed {
    height: 300px;
  }
}